@import './default.less';

.btn() {
  position: relative;
  display: inline-block;
  font-weight: @btn-font-weight;
  white-space: nowrap;
  outline: 0;
  box-shadow: @btn-shadow;
  border: @btn-border-width @btn-border-style transparent;
  text-align: center;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  .button-size(@btn-height-md; @btn-py-md; @btn-px-md; @btn-rounded; @btn-text-md);

  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }

  &-lg {
    .button-size(@btn-height-lg; @btn-py-lg; @btn-px-lg; @btn-rounded; @btn-text-lg);
  }

  &-sm {
    .button-size(@btn-height-sm; @btn-py-sm; @btn-px-sm; @btn-rounded; @btn-text-sm);
  }
}

.btn-primary() {
  .button-primary(@btn-primary-text; @btn-primary-bg; @primary-color-hover; @primary-color-active);
}

.btn-default() {
  .button-part(@btn-default-text; @btn-default-bg; @btn-default-border);
}

.btn-danger() {
  .button-color(@btn-danger-text, @btn-danger-bg, @btn-danger-border);

  &:hover,
  &:focus {
    .button-color(@error-color-hover, @btn-danger-bg, @error-color-hover);
  }

  &:active {
    .button-color(@error-color-active, @btn-danger-bg, @error-color-active);
  }
  .button-disabled();
}

.btn-danger-primary() {
  .button-primary(@btn-primary-text; @error-color; @error-color-hover; @error-color-active);
}

.btn-danger-link() {
  .button-color(@error-color; btn-text-bg-hover; transparent);
  box-shadow: none;

  &:hover,
  &:focus {
    .button-color(@error-color-hover, transparent, transparent);
  }

  &:active {
    .button-color(@error-color-active, transparent, transparent);
  }
  .button-disabled(@btn-disabled-text; transparent; transparent);
}

.btn-danger-text() {
  .button-color(@error-color; btn-text-bg-hover; transparent);
  box-shadow: none;

  &:hover,
  &:focus {
    .button-color(@error-color-hover, @red-50, transparent);
  }

  &:active {
    .button-color(@error-color-active, @red-100, transparent);
  }
  .button-disabled(@btn-disabled-text; transparent; transparent);
}

.btn-ghost() {
  .button-part(@btn-ghost-text; @btn-ghost-bg; @btn-ghost-border);
}

.btn-ghost-part(@color; @border; @hover; @active) {
  .button-color(@color, transparent, @border);
  text-shadow: none;

  &:hover,
  &:focus {
    & when (@border = transparent) {
      .button-color(@hover; transparent; transparent);
    }

    & when not (@border = transparent) {
      .button-color(@hover; transparent; @hover);
    }
  }

  &:active {
    & when (@border = transparent) {
      .button-color(@active; transparent; transparent);
    }

    & when not (@border = transparent) {
      .button-color(@active; transparent; @active);
    }
  }
}

.btn-dashed() {
  .button-part(@btn-default-text; @btn-default-bg; @btn-default-border);
  border-style: dashed;
}

.btn-link() {
  .button-part(@btn-link-text; @btn-link-bg; @btn-link-border);
  box-shadow: none;

  &:hover,
  &:focus {
    .button-color(@primary-color-hover; transparent; transparent);
  }

  &:active {
    .button-color(@primary-color-active; transparent; transparent);
  }
  .button-disabled(@btn-disabled-text; transparent; transparent);
}

.btn-text() {
  .button-part(@btn-text-text; @btn-text-bg; @btn-text-border);
  box-shadow: none;

  &:hover,
  &:focus {
    .button-color(@btn-text-text; @btn-text-bg-hover; transparent);
  }

  &:active {
    .button-color(@btn-text-text; @btn-text-bg-active; transparent);
  }
  .button-disabled(@btn-disabled-text; transparent; transparent);
}

.button-disabled(@color: @btn-disabled-text; @bg: @btn-disabled-bg; @border: @btn-disabled-border) {
  &[disabled] {
    .button-color(@color; @bg; @border);
    text-shadow: none;
    box-shadow: none;
  }
}

.button-size(@h; @p-y; @p-x; @rounded; @text) {
  height: @h;
  padding: @p-y @p-x;
  font-size: @text;
  border-radius: @rounded;
}

.button-color(@color; @bg; @border) {
  color: @color;
  border-color: @border;
  background-color: @bg;
}

.button-primary(@color; @bg; @hover; @active) {
  .button-color(@color, @bg, @bg);

  text-shadow: @btn-text-shadow;
  box-shadow: @btn-primary-shadow;

  &:hover,
  &:focus {
    .button-color(@color, @hover, @hover);
  }

  &:active {
    .button-color(@color, @active, @active);
  }

  .button-disabled();
}

.button-part(@color; @bg; @border) {
  .button-color(@color, @bg, @border);

  &:hover,
  &:focus {
    .button-color(@primary-color-hover, @bg, @primary-color-hover);
  }

  &:active {
    .button-color(@primary-color-active, @bg, @primary-color-active);
  }

  .button-disabled();
}

.button-ghost() {
  text-shadow: none;
  .button-disabled();
}
